.header{
    width: 100vw;
    height: 6rem;
    margin: 0;
    background-image: linear-gradient(to right, #3463BC, #20094B);
}

h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    line-height: 6rem;
}
.main{
    display: flex;
}
.searchContainer{
    width: 25vw;
    margin: 0 0.5rem 0 0.5rem;
}
.searchBoxContainer{
    display: flex;
    flex-direction: column;
}
.searchTitle{
    font-size: 2.5rem;
}
.searchBox{
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
.searchBtn{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.6rem;
    background-color: #5098E6;
    border: skyblue;
    color: white;
    margin-top: 1rem;
}