.header{
    width: 100vw;
    height: 6rem;
    margin: 0;
    background-image: linear-gradient(to right, #3463BC, #20094B);
}

h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    line-height: 6rem;
}
h3{
    font-size: 2rem;
}
.main{
    display: flex;
}
.searchContainer{
    width: 25vw;
    margin: 0 1rem 0 1rem;
}
.searchBoxContainer{
    display: flex;
    flex-direction: column;
}
.searchTitle{
    font-size: 2.5rem;
}
.searchBox{
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
.searchHistory{
    border-top: 2.5px solid grey;
    margin-top: 1rem;
}
.searchBtn{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.6rem;
    background-color: #5098E6;
    border: skyblue;
    color: white;
    margin-top: 1rem;
}
.historyBtn{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.6rem;
    background-color: #AEAEAE;
    border: none;
    color: white;
    margin-top: 1rem;
}
.results{
    margin: 1rem 0.5rem 0 1rem;
}
.weatherToday{
    height: 20vh;
    width: 72vw;
    border: 2.5px solid grey;
    border-radius: 0.5rem;
    margin-bottom: 2vh;
}
.fiveDays{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dayCard{
    background-color: #2D3E50;
    color: white;
    text-align: left;
    width: 19%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}